apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb
  namespace: argocd
spec:
  project: default
  sources:
  - repoURL: 'https://metallb.github.io/metallb'
    chart: metallb
    targetRevision: 0.5.13
    helm:
      valueFiles:
        - $values/apps/loadbalancer/metallb/values.yaml
  - repoURL: https://github.com/AntonioZdravac/homelab-k8s-gitops
    targetRevision: main
    ref: values
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: metallb
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true

