apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: homelab-apps-root
  namespace: argocd
spec:
  generators:
  - git:
      repoURL: https://github.com/AntonioZdravac/homelab-k8s-gitops
      revision: main
      directories:
      - path: apps/*/*
  template:
    metadata:
      name: '{{path.basename}}'
    spec:
      project: default
      source:
        repoURL: https://github.com/AntonioZdravac/homelab-k8s-gitops
        targetRevision: main
        path: '{{path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{path.basename}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true

