# ==========================================
# Global
# ==========================================
global:
  rbac:
    create: true



# ==========================================
# CRDs 
# ==========================================

crds:
  enabled: false

# ==========================================
# Prometheus
# ==========================================
prometheus:
  enabled: true
  prometheusSpec:
    replicas: 1

    retention: 7d

    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          storageClassName: local-path
          resources:
            requests:
              storage: 10Gi

# ==========================================
# Alertmanager
# ==========================================
alertmanager:
  enabled: true
  alertmanagerSpec:
    replicas: 1

    storage:
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          storageClassName: local-path
          resources:
            requests:
              storage: 2Gi

# ==========================================
# Grafana
# ==========================================
grafana:
  enabled: true
  ingress:
    enabled: true
    hosts:
    - grafana-antonio.homelab.com
  service:
    type: ClusterIP

  defaultDashboardsEnabled: true

